@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&family=Roboto+Slab:wght@300&display=swap');

body
{
    font-family: 'Poppins', sans-serif;
}
.latar
{
    width: auto;
    background: url(/ASSETS/bg1.jpeg);
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.judul
{
    font-size: 10em;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: -.2em;
    margin-bottom: -.1em;
    color: #e9ecef;
}

.sub
{
    font-size: 2.3em;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: #e9ecef;
    font-style: italic;
    letter-spacing: .3em;
}

@media screen and (max-width: 990px)
    {
.latar
{
    height: 50vh;
}
.judul
{
    font-size: 5em;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: -.2em;
    margin-bottom: -.1em;
    color: #e9ecef;
}

.sub
{
    font-size: 1.4em;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #e9ecef;
    font-style: italic;
    letter-spacing: .2em;
}
    }

.konten
{
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
}

.isikonten
{
    align-items: center;
    margin: 10px 15%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.bawah
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 15vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
